/* begin */
/*----------------preloader start-------------*/
#preloadder {
  height: 100%;
  width: 100%;
  z-index: 99999999;
  position: fixed;
  left: 0;
  background: #000;
  top: 0;
  text-align: center;
  line-height: 100vh;
  transition: 0.3s;
  img {
    vertical-align: middle;
    animation: animatePreloader 0.5s infinite alternate-reverse cubic-bezier(0, 0, 1, 1);
    top: -5px;
    position: relative;
  }
}
@keyframes animatePreloader {
  0% {
    top: 5px;
  }
}
/*----------------preloader end-------------*/

.layout--no-sidebar #page {
  overflow: hidden;
}

/*-----------------header start -------------------*/
.header {
  position: fixed;
  width: 100%;
  padding: 5px 0;
  min-height: 70px;
  z-index: 100;
}
#page .header {
  display: flex;
  transition: 1s;
  .header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .logo {
      width: 100%;
      max-width: 160px;
      img {
        vertical-align: top;
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
    .header_menu_content {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      .header-menu .menu-header-container {
        width: 100%;
        display: inline-block;
        #header-menu {
          justify-content: flex-end;
          &>li {
            margin: 0;
          }
        }
      }
      .header-menu .close_mob_menu {
        display: none;
      }
      .header-menu-contact .menu>li.contact_mobile {
        transition: all 0.3s ease;
        border: 3px solid #ffc000;
        border-radius: 20px;
        cursor: pointer;
        &:hover{
          transition: all 0.3s ease;
          background-color: #ffc000;
        }
      }
    }
    .header_menu_content>div[class*='header-menu'] {
      display: flex;
      align-items: center;
      &>div[class*='-container']>ul {
        display: flex;
        align-items: center;
        &>li {
          list-style-type: none;
          a {
            font-weight: 700;
            color: #fff;
            font-size: 16px;
            position: relative;
            display: block;
            text-decoration: none;
            padding: 10px 15px;
            font-family: Montserrat, sans-serif;
            &:after {
              content: '';
              position: relative;
              bottom: -9px;
              width: 0;
              display: block;
              margin: 0 auto;
              border-bottom: 1px solid;
              transition: all 0.3s ease;
            }
          }
          &:hover a:after {
            left: 0;
            width: 100%;
          }
        }
      }
    }
    #header_contact >li:hover a:after{
      width: 0;
    }
  }
}

#nav-icon3 span, #nav-icon4 span, .header.scrolled #nav-icon1 span {
  background: #000;
}

#page .header.scrolled {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: 1s;
  .header_content .header_menu_content>div[class*='header-menu']>div[class*='-container']>ul>li a {
    color: #000;
    font-family: Montserrat, sans-serif;
  }
}

body.page-template-home .header, body.page-template-services .header {
  background-color: transparent !important;
}
body.page-template-home .header.scrolled, body.page-template-services .header.scrolled {
  background-color: #fff !important;
}
/*-----------------header end -------------------*/

/* THE END */
